.video-grid-container{
    display : grid;
    grid-template-columns:repeat(repeat, 1fr);
    background-color: gray;
}

.main-grid-container{
    display: grid;
    grid-template-columns: 60% 20%;
}

video{
    border-radius: 3px;
    background-color: black;
    object-fit: cover;
}





